
<div class="container-fluid well ">
    <div>
        <input type="hidden" class="form-control" ng-model="order.id"
               value="{{order.id}}" />
        <div class="row-fluid">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label for="orderDate">Fecha:</label>
                <input id="orderDate" type="text" class="form-control" ng-model="order.orderDate"
                       value="{{order.orderDate}}" />
            </div>
        </div>
        <div class="row-fluid">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12" ">
                <label for="orderNumber">Numero de Orden:</label>
                <input id="orderNumber" type="text" class="form-control" ng-model="order.orderNumber"
                       value="{{order.orderNumber}}" />
            </div>
        </div>
        <div class="row-fluid">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label for="customerId">Id de Cliente:</label>
                <input id="customerId" type="text" class="form-control" ng-model="order.customerId"
                       value="{{order.customerId}}" />
            </div>
        </div>
        <div class="row-fluid">
            <div class="form-group col-xs-12 col-sm-12 col-md-12 col-lg-12">
                <label for="totalAmount">Monto Total:</label>
                <input id="totalAmount" type="text" class="form-control" ng-model="order.totalAmount"
                       value="{{order.totalAmount}}" />
            </div>
        </div>
    </div>
</div>